body {
  font-family: sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 30% auto auto;
  grid-template-rows: 20% auto auto;
  height: 100vh;
}

#status {
  align-self: end;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

#sidebar {
  grid-column: 3;
  grid-row: 2;
}

#board,
#boardClone {
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  border: 2px solid black;
  display: inline;
  cursor: pointer;
  font-size: 2rem;
  height: 2rem;
  padding: 0.4rem;
  text-align: center;
  width: 2rem;
}

.cell:hover {
  background-color: lightgrey;
}

#boardClone {
  transform-origin: center center;
  /* -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; */
  transition: all 0.5s ease-in-out;
}
