:root {
  --shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

buton {
  cursor: pointer;
}

#app {
  display: grid;
  grid-template-rows: auto [banner] auto [content];
}

.banner {
  grid-row: banner;
  max-width: 100%;
  height: 100%;
  background-color: steelblue;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 1rem;
}

.banner > * {
  font-size: 2rem;
  cursor: pointer;
}

.content {
  width: fit-content;
  grid-row: content;
  margin: 2rem auto;
  box-shadow: var(--shadow);
  padding: 4rem;
}

.menu-list > * {
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.menu-list > *:hover {
  font-weight: 800;
  color: steelblue;
}

.game {
  width: fit-content;
  display: grid;
  grid-template-columns: [board] 60% [details] 40%;
  grid-template-rows: [info] auto [controls] auto;
  grid-gap: 2rem;
}

.board {
  grid-column: board;
  justify-self: center;
  display: flex;
}

.col {
  height: fit-content;
  z-index: 100;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
}

.col.allow {
  cursor: pointer;
}

.col.allow:hover {
  border: solid yellow 1px;
}

.cell {
  border: solid 1px black;
  width: 2rem;
  height: 2rem;
}

.cell.R {
  background-color: maroon;
}

.cell.B {
  background-color: midnightblue;
}

.game-details {
  grid-column: details;
  border: solid 2px darkgrey;
  border-radius: 0.2rem;
  padding: 0.4rem 1.2rem 0.4rem 0.4rem;
  width: fit-content;
  justify-self: end;
}

.R {
  color: maroon;
}

.B {
  color: midnightblue;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.bold {
  font-weight: 800;
}

.controls {
  grid-row: controls;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}
