:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

#banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: steelblue;
  box-shadow: var(--shadow);
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  top: 10%;
  display: grid;
  grid-template-rows: [title] 3rem [body] auto [nav] 3rem;
  min-width: 30%;
  width: fit-content;
  height: fit-content;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  grid-row: title;
}

.body {
  grid-row: body;
  display: flex;
  flex-direction: column;
}

.body > * {
  margin: 0.5rem;
}

.nav {
  grid-row: nav;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.progress {
  grid-row: progress;
}
