body {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

hr {
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#title {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 1.5rem;
}

#json-parser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#json-parser > * {
  margin: 0.5rem 0;
}

#json-filter {
  align-self: start;
  height: 1rem;
}

#json-text {
  width: 100%;
  height: 5rem;
  resize: vertical;
}

#json-file {
  width: 60%;
}

#json-submit {
  color: lightgrey;
  background-color: steelblue;
}

#csv-data {
  position: absolute;
  top: 45%;
  text-align: left;
}

#csv-data > table {
  margin: 1em;
}

td {
  border: 1px solid darkgrey;
}
